<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.mmall.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="jp.mmall.pojo.Cart" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="QUANTITY" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CHECKED" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, PRODUCT_ID, QUANTITY, CHECKED, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MMALL_CART
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectCustIdandShoppingId" resultMap="BaseResultMap" parameterType="map">
SELECT
<include refid="Base_Column_List"/>
FROM MMALL_CART
    WHERE USER_ID=#{custid}
    and PRODUCT_ID=#{productId}
  </select>
  <select id="selectCartByUserId" resultMap="BaseResultMap" parameterType="long">
SELECT
<include refid="Base_Column_List"/>
    FROM MMALL_CART
    WHERE USER_ID=#{UserId}
  </select>
  <select id="selectCartCgeckedByUserId" resultType="int" parameterType="long">
SELECT COUNT (1)FROM mmall_cart
WHERE checked=0
AND user_id=#{userid}
  </select>
  <select id="selectCartProductCount" resultType="int" parameterType="long">
    SELECT nvl(sum(quantity),0) as COUNT FROM mmall_cart WHERE user_id=#{userId}

  </select>
  <select id="seletCartChekcedandUserid" resultMap="BaseResultMap" parameterType="long">
SELECT
<include refid="Base_Column_List"/>
FROM MMALL_CART
  WHERE user_id=#{userId}
    and checked= 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MMALL_CART
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByUserIdProdyctIds" parameterType="map" >
DELETE FROM MMALL_CART
WHERE user_id=#{custid}
<if test="productId!=null">
  and product_id in
  <foreach collection="productId" item="item" index="index" open="(" separator="," close=")">
    #{item}
  </foreach>
</if>
  </delete>
  <insert id="insert" parameterType="jp.mmall.pojo.Cart" >
    insert into MMALL_CART (ID, USER_ID, PRODUCT_ID, 
      QUANTITY, CHECKED, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{productId,jdbcType=DECIMAL}, 
      #{quantity,jdbcType=DECIMAL}, #{checked,jdbcType=DECIMAL},sysdate,
      sysdate)
  </insert>
  <insert id="insertSelective" parameterType="jp.mmall.pojo.Cart" >
    insert into MMALL_CART
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="checked != null" >
        CHECKED,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="checked != null" >
        #{checked,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        sysdate,
      </if>
      <if test="updateTime != null" >
        sysdate,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jp.mmall.pojo.Cart" >
    update MMALL_CART
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="checked != null" >
        CHECKED = #{checked,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = sysdate,
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.mmall.pojo.Cart" >
    update MMALL_CART
    set USER_ID = #{userId,jdbcType=DECIMAL},
      PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      CHECKED = #{checked,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="checkedUserAllChecked" parameterType="map">
    UPDATE MMALL_CART
    SET checked=#{checked},
    update_time=sysdate
    where user_id=#{userid}
    <if test="productId!=null">
      and product_id=#{productId}
    </if>
  </update>
</mapper>