<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.mmall.dao.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="jp.mmall.pojo.OrderItem" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ORDER_NO" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRODUCT_IMAGE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CURRENT_UNIT_PRICE" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="QUANTITY" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="TOTAL_PRICE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, ORDER_NO, PRODUCT_ID, PRODUCT_NAME, PRODUCT_IMAGE, CURRENT_UNIT_PRICE, 
    QUANTITY, TOTAL_PRICE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MMALL_ORDER_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="getByOderNoUserId" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List"/>
    FROM MMALL_ORDER_ITEM
    WHERE order_no=#{orderNo}
    and user_id=#{userId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MMALL_ORDER_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="jp.mmall.pojo.OrderItem" >
    insert into MMALL_ORDER_ITEM (ID, USER_ID, ORDER_NO, 
      PRODUCT_ID, PRODUCT_NAME, PRODUCT_IMAGE, 
      CURRENT_UNIT_PRICE, QUANTITY, TOTAL_PRICE, 
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{orderNo,jdbcType=DECIMAL}, 
      #{productId,jdbcType=DECIMAL}, #{productName,jdbcType=VARCHAR}, #{productImage,jdbcType=VARCHAR}, 
      #{currentUnitPrice,jdbcType=DECIMAL}, #{quantity,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, 
      sysdate, sysdate)
  </insert>
  <insert id="insertSelective" parameterType="jp.mmall.pojo.OrderItem" >
    insert into MMALL_ORDER_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="productName != null" >
        PRODUCT_NAME,
      </if>
      <if test="productImage != null" >
        PRODUCT_IMAGE,
      </if>
      <if test="currentUnitPrice != null" >
        CURRENT_UNIT_PRICE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="currentUnitPrice != null" >
        #{currentUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        sysdate,
      </if>
      <if test="updateTime != null" >
        sysdate,
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="list">
    insert all
    <foreach item="item" index="index" collection="orderItems">
    into MMALL_ORDER_ITEM (ID, USER_ID, ORDER_NO,
      PRODUCT_ID, PRODUCT_NAME, PRODUCT_IMAGE,
      CURRENT_UNIT_PRICE, QUANTITY, TOTAL_PRICE,
      CREATE_TIME, UPDATE_TIME)
      VALUES (
      #{item.id},#{item.userid},#{item.orderNo},#{item.productId},#{item.productName},#{item.productImage}
      ,#{item.currentUnitPrice},#{item.quantity},#{item.totalPrice},sysdate,sysdate
      )
    </foreach>
     SELECT 1 FROM DUAL
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jp.mmall.pojo.OrderItem" >
    update MMALL_ORDER_ITEM
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productName != null" >
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        PRODUCT_IMAGE = #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="currentUnitPrice != null" >
        CURRENT_UNIT_PRICE = #{currentUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = sysdate,
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.mmall.pojo.OrderItem" >
    update MMALL_ORDER_ITEM
    set USER_ID = #{userId,jdbcType=DECIMAL},
      ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      PRODUCT_IMAGE = #{productImage,jdbcType=VARCHAR},
      CURRENT_UNIT_PRICE = #{currentUnitPrice,jdbcType=DECIMAL},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>