<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.mmall.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="jp.mmall.pojo.Order" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ORDER_NO" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="SHIPPING_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PAYMENT" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="PAYMENT_TYPE" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="POSTAGE" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="STATUS" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="PAYMENT_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="SEND_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="END_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CLOSE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_NO, USER_ID, SHIPPING_ID, PAYMENT, PAYMENT_TYPE, POSTAGE, STATUS, PAYMENT_TIME,
    SEND_TIME, END_TIME, CLOSE_TIME, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from MMALL_ORDER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectByUserIdAndOrderNum" resultMap="BaseResultMap" parameterType="map">
SELECT
<include refid="Base_Column_List"/>
FROM MMALL_ORDER
    WHERE ORDER_NO=#{OrderNum}
    and USER_ID=#{userId}
  </select>
  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="long">
    SELECT
    <include refid="Base_Column_List"/>
    FROM MMALL_ORDER
    WHERE ORDER_NO=#{OrderNum}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MMALL_ORDER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="jp.mmall.pojo.Order" >
    insert into MMALL_ORDER (ID, ORDER_NO, USER_ID,
      SHIPPING_ID, PAYMENT, PAYMENT_TYPE,
      POSTAGE, STATUS, PAYMENT_TIME,
      SEND_TIME, END_TIME, CLOSE_TIME,
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{orderNo,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL},
      #{shippingId,jdbcType=DECIMAL}, #{payment,jdbcType=DECIMAL}, #{paymentType,jdbcType=DECIMAL},
      #{postage,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{paymentTime,jdbcType=TIMESTAMP},
      #{sendTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP},
      sysdate, sysdate)
  </insert>
  <insert id="insertSelective" parameterType="jp.mmall.pojo.Order" >
    insert into MMALL_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="shippingId != null" >
        SHIPPING_ID,
      </if>
      <if test="payment != null" >
        PAYMENT,
      </if>
      <if test="paymentType != null" >
        PAYMENT_TYPE,
      </if>
      <if test="postage != null" >
        POSTAGE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="paymentTime != null" >
        PAYMENT_TIME,
      </if>
      <if test="sendTime != null" >
        SEND_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="shippingId != null" >
        #{shippingId,jdbcType=DECIMAL},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=DECIMAL},
      </if>
      <if test="postage != null" >
        #{postage,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        sysdate,
      </if>
      <if test="updateTime != null" >
        sysdate,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jp.mmall.pojo.Order" >
    update MMALL_ORDER
    <set >
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="shippingId != null" >
        SHIPPING_ID = #{shippingId,jdbcType=DECIMAL},
      </if>
      <if test="payment != null" >
        PAYMENT = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        PAYMENT_TYPE = #{paymentType,jdbcType=DECIMAL},
      </if>
      <if test="postage != null" >
        POSTAGE = #{postage,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="paymentTime != null" >
        PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME =sysdate,
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.mmall.pojo.Order" >
    update MMALL_ORDER
    set ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=DECIMAL},
      SHIPPING_ID = #{shippingId,jdbcType=DECIMAL},
      PAYMENT = #{payment,jdbcType=DECIMAL},
      PAYMENT_TYPE = #{paymentType,jdbcType=DECIMAL},
      POSTAGE = #{postage,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>