<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.mmall.dao.PayInfoMapper" >
  <resultMap id="BaseResultMap" type="jp.mmall.pojo.PayInfo" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ORDER_NO" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PAY_PLATFORM" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="PLATFORM_NUMBER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PLATFORM_STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, ORDER_NO, PAY_PLATFORM, PLATFORM_NUMBER, PLATFORM_STATUS, CREATE_TIME, 
    UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MMALL_PAY_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MMALL_PAY_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="jp.mmall.pojo.PayInfo" >
    insert into MMALL_PAY_INFO (ID, USER_ID, ORDER_NO, 
      PAY_PLATFORM, PLATFORM_NUMBER, PLATFORM_STATUS, 
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{orderNo,jdbcType=DECIMAL}, 
      #{payPlatform,jdbcType=DECIMAL}, #{platformNumber,jdbcType=VARCHAR}, #{platformStatus,jdbcType=VARCHAR}, 
      sysdate, sysdate)
  </insert>
  <insert id="insertSelective" parameterType="jp.mmall.pojo.PayInfo" >
    insert into MMALL_PAY_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="payPlatform != null" >
        PAY_PLATFORM,
      </if>
      <if test="platformNumber != null" >
        PLATFORM_NUMBER,
      </if>
      <if test="platformStatus != null" >
        PLATFORM_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="payPlatform != null" >
        #{payPlatform,jdbcType=DECIMAL},
      </if>
      <if test="platformNumber != null" >
        #{platformNumber,jdbcType=VARCHAR},
      </if>
      <if test="platformStatus != null" >
        #{platformStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        sysdate,
      </if>
      <if test="updateTime != null" >
        sysdate,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jp.mmall.pojo.PayInfo" >
    update MMALL_PAY_INFO
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="payPlatform != null" >
        PAY_PLATFORM = #{payPlatform,jdbcType=DECIMAL},
      </if>
      <if test="platformNumber != null" >
        PLATFORM_NUMBER = #{platformNumber,jdbcType=VARCHAR},
      </if>
      <if test="platformStatus != null" >
        PLATFORM_STATUS = #{platformStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = sysdate,
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.mmall.pojo.PayInfo" >
    update MMALL_PAY_INFO
    set USER_ID = #{userId,jdbcType=DECIMAL},
      ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      PAY_PLATFORM = #{payPlatform,jdbcType=DECIMAL},
      PLATFORM_NUMBER = #{platformNumber,jdbcType=VARCHAR},
      PLATFORM_STATUS = #{platformStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>