<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.mmall.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="jp.mmall.pojo.Product" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CATEGORY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SUBTITLE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MAIN_IMAGE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SUB_IMAGES" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DETAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRICE" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="STOCK" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="STATUS" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CATEGORY_ID, NAME, SUBTITLE, MAIN_IMAGE, SUB_IMAGES, DETAIL, PRICE, STOCK, STATUS, 
    CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MMALL_PRODUCT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="getList" resultMap="BaseResultMap">
   SELECT
   <include refid="Base_Column_List"/>
   FROM mmall_product
    order by id asc
  </select>
  <select id="selectProductNameandId" resultMap="BaseResultMap" parameterType="map">
   SELECT
   <include refid="Base_Column_List"/>
    FROM mmall_product
    <where>
      <if test="ProductName!=null">
        AND NAME LIKE #{ProductName}
      </if>
      <if test="ProductId!=null">
        AND id=#{ProductId}
      </if>
    </where>
  </select>
  <select id="selectProductKeyandCateId" resultMap="BaseResultMap" parameterType="map">
SELECT
<include refid="Base_Column_List"/>
FROM mmall_product
WHERE STATUS=1
<if test="CategoryId!=null">
  AND category_id IN 
  <foreach collection="CategoryId" item="item" index="index" open="(" separator="," close=")">
    #{item}
  </foreach>
</if>
    <if test="keyWord!=null">
      and name like #{keyWord}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MMALL_PRODUCT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="jp.mmall.pojo.Product" >
    insert into MMALL_PRODUCT (ID, CATEGORY_ID, NAME, 
      SUBTITLE, MAIN_IMAGE, SUB_IMAGES, 
      DETAIL, PRICE, STOCK, 
      STATUS, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{categoryId,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{subtitle,jdbcType=VARCHAR}, #{mainImage,jdbcType=VARCHAR}, #{subImages,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{stock,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, sysdate, sysdate
      )
  </insert>
  <insert id="insertSelective" parameterType="jp.mmall.pojo.Product" >
    insert into MMALL_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="subtitle != null" >
        SUBTITLE,
      </if>
      <if test="mainImage != null" >
        MAIN_IMAGE,
      </if>
      <if test="subImages != null" >
        SUB_IMAGES,
      </if>
      <if test="detail != null" >
        DETAIL,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="stock != null" >
        STOCK,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null" >
        #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="subImages != null" >
        #{subImages,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        sysdate,
      </if>
      <if test="updateTime != null" >
        sysdate,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jp.mmall.pojo.Product" >
    update MMALL_PRODUCT
    <set >
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        SUBTITLE = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null" >
        MAIN_IMAGE = #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="subImages != null" >
        SUB_IMAGES = #{subImages,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        DETAIL = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        STOCK = #{stock,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = sysdate,
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.mmall.pojo.Product" >
    update MMALL_PRODUCT
    set CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      SUBTITLE = #{subtitle,jdbcType=VARCHAR},
      MAIN_IMAGE = #{mainImage,jdbcType=VARCHAR},
      SUB_IMAGES = #{subImages,jdbcType=VARCHAR},
      DETAIL = #{detail,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      STOCK = #{stock,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>