<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.mmall.dao.ShippingMapper" >
  <resultMap id="BaseResultMap" type="jp.mmall.pojo.Shipping" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="RECEIVER_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RECEIVER_PHONE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RECEIVER_MOBILE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RECEIVER_PROVINCE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RECEIVER_CITY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RECEIVER_DISTRICT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RECEIVER_ADDRESS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RECEIVER_ZIP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, RECEIVER_NAME, RECEIVER_PHONE, RECEIVER_MOBILE, RECEIVER_PROVINCE, RECEIVER_CITY, 
    RECEIVER_DISTRICT, RECEIVER_ADDRESS, RECEIVER_ZIP, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MMALL_SHIPPING
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectShippingByUserIdandShId" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from MMALL_SHIPPING
    where ID = #{shippingId}
    and userId=#{userId}
  </select>
  <select id="selectBYUserId" resultMap="BaseResultMap" parameterType="map">
SELECT
<include refid="Base_Column_List"/>
    FROM MMALL_SHIPPING
    WHERE user_id=#{userId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MMALL_SHIPPING
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByShippingIdUserId" parameterType="map">
DELETE FROM MMALL_SHIPPING
WHERE id=#{shippingId}
and user_id=#{userId}
  </delete>
  <insert id="insert" parameterType="jp.mmall.pojo.Shipping" useGeneratedKeys="true" keyProperty="id" >
    insert into MMALL_SHIPPING (ID, USER_ID, RECEIVER_NAME, 
      RECEIVER_PHONE, RECEIVER_MOBILE, RECEIVER_PROVINCE, 
      RECEIVER_CITY, RECEIVER_DISTRICT, RECEIVER_ADDRESS, 
      RECEIVER_ZIP, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{receiverName,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, #{receiverProvince,jdbcType=VARCHAR}, 
      #{receiverCity,jdbcType=VARCHAR}, #{receiverDistrict,jdbcType=VARCHAR}, #{receiverAddress,jdbcType=VARCHAR}, 
      #{receiverZip,jdbcType=VARCHAR}, sysdate, sysdate
      )
  </insert>
  <insert id="insertSelective" parameterType="jp.mmall.pojo.Shipping" >
    insert into MMALL_SHIPPING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="receiverName != null" >
        RECEIVER_NAME,
      </if>
      <if test="receiverPhone != null" >
        RECEIVER_PHONE,
      </if>
      <if test="receiverMobile != null" >
        RECEIVER_MOBILE,
      </if>
      <if test="receiverProvince != null" >
        RECEIVER_PROVINCE,
      </if>
      <if test="receiverCity != null" >
        RECEIVER_CITY,
      </if>
      <if test="receiverDistrict != null" >
        RECEIVER_DISTRICT,
      </if>
      <if test="receiverAddress != null" >
        RECEIVER_ADDRESS,
      </if>
      <if test="receiverZip != null" >
        RECEIVER_ZIP,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null" >
        #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        sysdate,
      </if>
      <if test="updateTime != null" >
        sysdate,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jp.mmall.pojo.Shipping" >
    update MMALL_SHIPPING
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="receiverName != null" >
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        RECEIVER_MOBILE = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        RECEIVER_PROVINCE = #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        RECEIVER_CITY = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        RECEIVER_DISTRICT = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        RECEIVER_ADDRESS = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null" >
        RECEIVER_ZIP = #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = sysdate,
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.mmall.pojo.Shipping" >
    update MMALL_SHIPPING
    set USER_ID = #{userId,jdbcType=DECIMAL},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      RECEIVER_MOBILE = #{receiverMobile,jdbcType=VARCHAR},
      RECEIVER_PROVINCE = #{receiverProvince,jdbcType=VARCHAR},
      RECEIVER_CITY = #{receiverCity,jdbcType=VARCHAR},
      RECEIVER_DISTRICT = #{receiverDistrict,jdbcType=VARCHAR},
      RECEIVER_ADDRESS = #{receiverAddress,jdbcType=VARCHAR},
      RECEIVER_ZIP = #{receiverZip,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByShinppingandByUserId" parameterType="jp.mmall.pojo.Shipping">
       update MMALL_SHIPPING
    set
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      RECEIVER_MOBILE = #{receiverMobile,jdbcType=VARCHAR},
      RECEIVER_PROVINCE = #{receiverProvince,jdbcType=VARCHAR},
      RECEIVER_CITY = #{receiverCity,jdbcType=VARCHAR},
      RECEIVER_DISTRICT = #{receiverDistrict,jdbcType=VARCHAR},
      RECEIVER_ADDRESS = #{receiverAddress,jdbcType=VARCHAR},
      RECEIVER_ZIP = #{receiverZip,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
    and USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
</mapper>