<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.mmall.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="jp.mmall.pojo.User" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USERNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PHONE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="QUESTION" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ANSWER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ROLE" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USERNAME, PASSWORD, EMAIL, PHONE, QUESTION, ANSWER, ROLE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MMALL_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MMALL_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="jp.mmall.pojo.User" >
    insert into MMALL_USER (ID, USERNAME, PASSWORD, 
      EMAIL, PHONE, QUESTION, 
      ANSWER, ROLE, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{role,jdbcType=DECIMAL}, sysdate,
      sysdate)
  </insert>
  <insert id="insertSelective" parameterType="jp.mmall.pojo.User" >
    insert into MMALL_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="question != null" >
        QUESTION,
      </if>
      <if test="answer != null" >
        ANSWER,
      </if>
      <if test="role != null" >
        ROLE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        sysdate,
      </if>
      <if test="updateTime != null" >
        sysdate,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jp.mmall.pojo.User" >
    update MMALL_USER
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        QUESTION = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        ANSWER = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        ROLE = #{role,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
        UPDATE_TIME = sysdate,
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.mmall.pojo.User" >
    update MMALL_USER
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      QUESTION = #{question,jdbcType=VARCHAR},
      ANSWER = #{answer,jdbcType=VARCHAR},
      ROLE = #{role,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updatePasswordByUsername" parameterType="map">
    UPDATE mmall_user
    SET password=#{passwordNew},update_time=sysdate
    where username=#{username}
  </update>
  <select id="checkUsername" resultType="int" parameterType="string">
  SELECT count(1)FROM mmall_user
  WHERE username= #{username}
  </select>
  <select id="selectLogin" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List"/>
    FROM mmall_user
    WHERE username=#{username}
    and password=#{password}
  </select>
  <select id="checkEmail" resultType="int" parameterType="string">
    SELECT count(1)FROM mmall_user
  WHERE email= #{email}
  </select>
  <select id="selectuserByQuestionFindAnswer" resultType="string" parameterType="string">
  SELECT
  question
  FROM mmall_user
  where username=#{username}
  </select>
  <select id="checkAnswer" resultType="int" parameterType="map">
  SELECT
  COUNT(1)
  FROM mmall_user
  WHERE username=#{username}
  and question=#{question}
  and answer=#{answer}
  </select>
  <select id="checkPassword" resultType="int" parameterType="map">
   SELECT
   COUNT (1)
   FROM mmall_user
   WHERE id=#{userId}
   and password=#{password}
  </select>
  <select id="checkEmailByUserId" resultType="int" parameterType="map">
    SELECT COUNT (1)FROM mmall_user
    WHERE email=#{email}
    and id !=#{userId}
  </select>

</mapper>